.listCourses {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.soon {
  font-family: var(--first-type);
  grid-column: 1 / -1;
}

@media (max-width: 900px) {
  .listCourses {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .listCourses {
    grid-template-columns: 1fr;
  }
}
