.listCourses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media (max-width: 1025px) {
  .listCourses {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 770px) {
  .listCourses {
    grid-template-columns: 1fr;
  }
}
