.filter {
  margin-bottom: 3.25rem;
}

.filter p,
.filter select {
  font-family: var(--first-type);
  font-size: var(--font-3);
  font-weight: 300;
}

.filter p {
  margin-bottom: 1rem;;
}

.filter > svg {
  margin: 0 0.75rem;
  vertical-align: middle;
}

.filter select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: var(--contrast-2) url('../../Assets/arrow_down.svg') no-repeat
  center right 0.75rem;
  text-transform: capitalize;
  max-width: 160px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.625rem;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  cursor: pointer;
  box-shadow: var(--button-shadow);
}

.filter select:hover,
.filter select:focus {
  outline: none;
  background-color: #fff;
  border-color: var(--bg-2);
  box-shadow: 0 0 0 2px rgb(14, 179, 1, 0.5);
}

.filter select option {
  font-size: 1rem;
}


@media (max-width: 450px) {
  .filter svg {
    display: none;
  }

  .filter select {
    display: block;
    max-width: none;
    margin-top: 1rem;
  }
}
