.container_lastcourse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 5.625rem;
}

.leopard {
  max-height: 380px;
  align-self: center;
}

@media (max-width: 860px) {
  .container_lastcourse {
    max-width: 31.25rem;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }

  .leopard {
    display: none;
  }
}
