.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.total > h2 {
  margin: 0;
  font-size: var(--font-3);
  text-transform: uppercase;
}

.total span {
  font-family: var(--first-type);
  font-size: var(--font-3);
  font-weight: 500;
}
