.card {
  border-radius: 1.25rem;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  max-height: 90px;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 400px) {
  .card img {
    max-height: 80px;
  }
}

.details {
  padding: 1.5rem;
  border-radius: 1.25rem;
  background: #fff;
  margin-top: -1.25rem;
}

.courseTitle,
.teacher,
.progress .percentage {
  font-family: var(--first-type);
  font-weight: 500;
}

.courseTitle {
  font-size: 1.375rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.teacher {
  font-size: 1rem;
  color: var(--contrast-1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.progress {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.875rem;
}

.progress .progressBar {
  height: 1.25rem;
  background: #d9d9d9;
  border-radius: 1.25rem;
  overflow: hidden;
}

.progressBarCompleted {
  height: 100%;
  background-image: var(--gradient-2);
  border-radius: inherit;
}

.progress .percentage {
  font-size: 1rem;
}

@media (max-width: 1025px) {
  .details {
    padding: 1rem;
  }

  .courseTitle {
    font-size: 1.125rem;
  }

  .teacher {
    font-size: 0.875rem;
  }

  .progress {
    margin-top: 0.5rem;
  }

  .progress .progressBar {
    height: 1rem;
  }
}
