.card {
  border-radius: 1.25rem;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}

.containerImg {
  position: relative;
}

.containerImg::before {
  content: '';
  display: block;
  padding-top: 30%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.details {
  padding: 1.5rem;
  border-radius: 1.25rem;
  background: #fff;
  margin-top: -1.25rem;
}

.courseTitle,
.teacher,
.progress .percentage {
  font-family: var(--first-type);
  font-weight: 500;
}

.courseTitle {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.teacher {
  font-size: var(--font-3);
  color: var(--contrast-1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.progress {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.progress .progressBar {
  height: 1.25rem;
  background: #d9d9d9;
  border-radius: 1.25rem;
  overflow: hidden;
}

.progressBarCompleted {
  height: 100%;
  background-image: var(--gradient-2);
  border-radius: inherit;
}

.progress .percentage {
  font-size: 1rem;
}

@media (max-width: 850px) {
  .containerImg::before {
    padding-top: 25%;
  }

  .details {
    padding: 1rem;
  }

  .courseTitle {
    font-size: 1.125rem;
  }

  .teacher {
    font-size: 0.875rem;
  }

  .progress {
    margin-top: 0.5rem;
  }

  .progress .progressBar {
    height: 1rem;
  }
}
