.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(47, 56, 79, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 999;
}

.modal {
  background: #fff;
  max-width: 550px;
  width: 100%;
  padding: 2rem;
  border-radius: 1.25em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade 0.3s linear;
}

@keyframes fade {
  0% {
    transform: translateY(-75px) scale(0.5);
    opacity: 0.9;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.modal img {
  max-height: 180px;
}

.modal h3 {
  font-family: var(--second-type);
  font-size: 1.875rem;
  font-weight: 800;
  text-align: center;
  color: #000;
  margin: 1.5rem 0 0.875rem;
}

.modal .description {
  font-family: var(--first-type);
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.4;
}

.modal .description strong {
  font-weight: 500;
}

/* START ACTIONS */
.modal .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2rem;
}

.modal .actions button,
.modal .actions a {
  background: none;
  font-family: inherit;
  border: none;
  text-align: center;
  cursor: pointer;
}

.modal .actions .btnDeny {
  color: #737373;
  padding: 0.5rem;
}

.modal .actions .btnConfirm {
  background: var(--bg-1);
  color: #fff;
  text-transform: uppercase;
  border-radius: 1rem;
  padding: 1rem;
  letter-spacing: 0.5px;
  order: 1;
  transition: 0.15s ease-in-out;
}

.modal .actions .btnConfirm:hover,
.modal .actions .btnConfirm:focus {
  outline: none;
  box-shadow: 0 0 8px var(--bg-2);
}
/* END ACTIONS */

@media (max-width: 650px) {
  .modal {
    padding: 1rem;
  }

  .modal h3 {
    font-size: 1.5rem;
  }

  .modal .description {
    font-size: 1rem;
  }

  .modal .actions {
    font-size: 0.875em;
  }
}

@media (max-width: 450px) {
  .modal h3 {
    font-size: 1.25rem;
  }

  .modal .description {
    font-size: 0.875rem;
  }

  .modal .actions {
    font-size: 0.875em;
    flex-direction: column;
  }

  .modal .actions .btnConfirm {
    padding: 0.875rem;
    order: 0;
  }
}
