.filter {
  margin-bottom: 2.25rem;
}

.wrapper {
  display: flex;
  align-items: center;
}

.filter p,
.filter select {
  font-family: var(--first-type);
  font-size: var(--font-3);
  font-weight: 300;
}

.filter p {
  margin-bottom: 1rem;
}

.filter .wrapper > svg {
  margin: 0 0.75rem;
}

@media (max-width: 450px) {
  .filter .wrapper > svg {
    display: none;
  }

  .filter .wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}
