.wrapper {
  margin: 3.125rem 0;
  padding: 0 1rem;
}

.main {
  max-width: 43.75rem;
  margin: 0 auto;
  padding: 2.5rem 1.5625rem;
  border: 1px solid var(--contrast-1);
  border-radius: 1.25rem;
}

.title {
  text-align: center;
  font-weight: 500;
  line-height: 2.375rem;
  padding: 0 0.625rem;
}

.divider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.divider > div {
  flex: 1 1 240px;
}

.form h2 {
  font-size: var(--font-4);
  font-weight: 800;
  line-height: 2.625rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.total h2 {
  font-size: var(--font-9);
}

.total span {
  font-family: var(--first-type);
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 535px) {
  .title {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .main {
    padding: 1.25rem;
  }
}
