.main {
  max-width: 43.75rem;
  margin: 3.125rem auto 0 auto;
  padding: 2.5rem 1.5625rem;
  border: 1px solid var(--contrast-1);
  border-radius: 1.25rem;
}

@media (max-width: 750px) {
  .main {
    margin: 3.125rem 1rem 0 1rem;
  }
}

.title {
  text-align: center;
  font-weight: 500;
  line-height: 2.375rem;
  padding: 0 0.625rem;
}

.form > div:nth-last-child(2) {
  margin-bottom: 1.5rem;
}

.form .subtitle {
  font-size: var(--font-4);
  font-weight: 800;
  line-height: 1;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.total > h2 {
  margin: 0;
  font-size: var(--font-3);
  text-transform: uppercase;
}

.total span {
  font-family: var(--first-type);
  font-size: var(--font-3);
  font-weight: 500;
}

@media (max-width: 535px) {
  .title {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .main {
    padding: 1.25rem;
  }
}
