.button {
  min-width: 12.5rem;
  padding: 1.25rem;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-3);
  font-weight: bold;
  line-height: 1;
  background: var(--bg-2);
  border-radius: 1.25rem;
  border: none;
  letter-spacing: 0.093rem;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 8px var(--bg-2);
  transform: scale(1.03);
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
