.wrapper {
  margin-bottom: 0.75rem;
}

.label {
  display: block;
  font-weight: 500;
  font-size: var(--font-9);
  line-height: 1.25rem;
  padding-bottom: 0.312rem;
}

.input {
  display: block;
  width: 100%;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 0.3125rem;
  padding: 0.5rem;
  font-family: var(--first-type);
}

.input:hover,
.input:focus {
  outline: none;
  background: #fff;
  border-color: var(--bg-2);
  box-shadow: 0 0 0 2px rgb(14, 179, 1, 0.5);
}

.error {
  color: #f31;
  font-size: 0.875rem;
}
