.ordenador {
  background: none;
  border: none;
  color: #4e4e4e;
  min-width: 140px;
  text-align: left;
  font-family: 'Roboto', 'sans-serif';
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
}

.ordenador:hover,
.ordenador.active {
  outline: none;
  background: #fff;
}

.ordenador.fullWidth {
  width: 100%;
}

.ordenador > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  border: 1px solid transparent;
  border-radius: 0.625rem;
  box-shadow: var(--button-shadow);
  width: 100%;
  padding: 0.5rem;
}

.ordenador.active > span {
  position: relative;
  z-index: 100;
}

.ordenador:hover > span,
.ordenador.active > span {
  background: #fff;
  border-color: var(--bg-2);
  box-shadow: 0 0 0 2px rgb(14, 179, 1, 0.5);
}

.options {
  display: none;
  position: absolute;
  top: calc(100% + 2px);
  left: -1px;
  width: 100%;
  max-height: 120px;
  text-indent: 0.5rem;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  overflow: auto;
  z-index: 99;
}

.options::-webkit-scrollbar {
  background-color: #eee;
  width: 5px;
  border-radius: 0.625rem;
  overflow: hidden;
}

.options::-webkit-scrollbar-thumb {
  background-color: var(--bg-2);
  border-radius: 5px;
}

.options.active {
  display: block;
}

.options .option {
  padding: 6px 0;
}

.options .option:not(.disabled):hover,
.options .option.active {
  background: #2668db;
  color: #fff;
}

.options .option.disabled {
  color: rgb(109, 109, 109);
}
